* {
    box-sizing: border-box;
    font-family: Lato,sans-serif;
    margin: 0;
    padding: 0;
    background-color:#2f3140;
}

.product-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1em;
    padding: 20px;
}

.prod-img{
  width: 80%;
  border-radius: 15px;
}

.product-category ,  .product-title, .product-price {
    font-size: 28px;
    font-weight: bold;
}

.product-descrip{
    font-size: 20px;
}